*~
./cli
./srv
./selfy
tmp
certs
my-keep-private-dir
known_tls_hosts
known_client_keys
known_server_keys
selfy
srv
cli
samesame
streams.all.together.txt
server.sent.streams.all.together.txt
testdata/*
gitcommit.go
